---
name: test-actions
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
permissions:
  contents: read
  pull-requests: write
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: aquaproj/aqua-installer@v0.7.0
        with:
          aqua_version: v1.1.0

      - uses: ./
        with:
          working_directory: tests
