---
name: Test
on: workflow_call
jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
        with:
          persist-credentials: false
      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.55.2
          working_directory: tests/v2

      - uses: ./
        with:
          working_directory: tests/v1

      - uses: ./
        with:
          working_directory: tests/v1
          timeout: 30s

      - uses: ./
        with:
          working_directory: tests/v2

      - uses: ./
        with:
          working_directory: tests/v2
          timeout: 30s
